{% extends "AuthenticationApp/base.html" %}

{% block content %}
<div class="d-flex flex-column flex-grow-1">
    <h1 class="fw-bold text-center mb-4 display-6">Reset your password</h1>
    <p>Please enter the email address associated with your account to reset your password:</p>
    <form method="POST" action="{% url 'Password_reset' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="InputEmail" placeholder="example@gmail.com" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button id="Reset_password" type="Reset Password" class="btn btn-primary">Reset Password</button>
        </div>
</div>
{% endblock %}