{% extends "AuthenticationApp/base.html" %}

{% block content %}
<div class="d-flex flex-column flex-grow-1">
    <h1 class="fw-bold text-center mb-4 display-6">Reset your password</h1>
    <p>Please enter the new password and confirm it to reset the password for your account:</p>
    <form method="POST" action="{% url 'Reset_password' %}?token={{ token }}">
        {% csrf_token %}
        <div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="**************" id="InputPassword">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                <input type="password" name="password2" class="form-control" placeholder="****************" id="InputPassword2">
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button id="submit-button" type="submit" class="btn btn-primary">Reset Password</button>
        </div>
</div>
<script>
    //Listens for the Dom content to be loaded
    document.addEventListener("DOMContentLoaded", function () {
        //selects the form element in the document
        const form = document.querySelector("form");
        //selects the password input fields by ids
        const passwordInput = document.querySelector("#InputPassword");
        const passwordInput2 = document.querySelector('#InputPassword2');
        //listens for the submission of the form
        //when the form is submitted a function executes which checks if the two password match
        //and if they don't match the event.preventDefault prevents the default event from happening i.e form submission
        //the is allerts the user that the password don't match
        form.addEventListener("submit", function (event) {
            if (passwordInput.value !== passwordInput2.value) {
                event.preventDefault();
                alert("Passwords do not match.");
            }
        });
    });
</script>
{% endblock %}